@import "compass";
@import "variables";
@import "components";

#wizbar{
  position: fixed;
  width: $wizbar-width;
  height: 100%;
  padding: 10px;
  background-color: #4A90E2;
  border-right: 1px solid #E8EBEC;
}

#wiz-wrapper{
  margin-left: $wizbar-width;
}

.clform__label{
  font-weight: 400;
  font-size: 1.1em;
  color: $sub-title;
}

.clform__input{
  border-color: 2px solid #D7D9E1;
  @include border-radius(3px);
}

.clform__input.ng-touched.ng-invalid{
  position: relative;
  background-color: lighten($cl-red, 30%);
  border-color: $cl-red;
  z-index: 2;
  box-shadow: none;
  @include border-bottom-left-radius(0px);
  @include border-bottom-right-radius(0px);
}

.clform__input.ng-pristine.ng-invalid{
  background-color: #ffffff;
  border-color: #cccccc;
}

.clform__errorlabel{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background-color: $cl-red;
  z-index: 1;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
}

.placeholder{
  font-size: .9em;
  color: #8C9497;
}

.form-sec-title .placeholder{
  font-size: .7em;
}

.form-sec:first-child{
  margin-top: 40px;
}

.form-sec{
  position: relative;
  margin: 80px 0;
}

.form-sec-title{
  color: #6E7691;
}

.form-sec-title{
  text-align: center;
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: 20px;
}

header{
  padding: 10px 10px;
  border-bottom: 1px solid #E8EBEC;
}
header.fixed{
  position: fixed;
  background-color: #fff;
  z-index:20;
  width : 100%;
}

#tratt-desc{
  font-size: 1.3em;
  color: #6E7691;
}

#tratt-desc span{
  color: lighten(#6E7691, 30);
}

header .sec-title{
  color: $sub-title;
  margin-bottom: 10px;
}

.addtrattativa-opt-btn{
  @extend .cl-btn;
  width: 250px;
  text-transform: capitalize;
  margin: 10px 0 0 10px;
  color: #9098BB;
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
}

.addtrattativa-opt-btn:hover{
  border-color: darken(#F5F5F9, 30%);
  color: darken(#F5F5F9, 40%);
}

.addtrattativa-opt-btnfirst-child{
  margin-left: 0px;
}

#addtrattativa .counter-field{
  @include border-radius(0px);
}
.counter-container .input-group-addon{
  color: #9098BB;
  font-weight: 700;
  cursor: pointer;
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
  @include user-select(none);
}

.counter-container .input-group-addon:hover{
  background-color: darken(#F5F5F9, 5);
}

.counter-container .counter-minus{
  border-right: none;
  @include border-top-left-radius(3px);
  @include border-bottom-left-radius(3px);
}

.counter-container .counter-plus{
  border-left: none;
  @include border-top-right-radius(3px);
  @include border-bottom-right-radius(3px);
}

#txtnote{
  resize: vertical;
}

.click_autocomplete{
  position: relative;
}

.angucomplete-holder{
  position: relative;
}

.angucomplete-dropdown{
  position: absolute;
  top: 45px;
  padding: 10px;
  width: 100%;
  color: #fff;
  overflow-y: auto;
  max-height: 200px;
  background-color: $sub-title;
  z-index: 10;
  @include border-radius(3px);
}

.angucomplete-row:first-child{
  margin-top: -10px;
}

.angucomplete-row{
  margin: 0 -10px;
  padding: 10px;
}

.angucomplete-selected-row{
  cursor: pointer;
  background-color: lighten($sub-title, 5%);
}

.angucomplete-description{
  color: #A6D5FF;
}

#text-ragsoc{
  padding-right: 40%;
}

#msg-notvalidcliente{
  background-color: #E14C4C;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
  padding: 20px;
  margin-bottom: 20px;
}

#msg-notvalidcliente #close-msg{
  color: #fff;
  font-size: 1em;
  margin: 5px 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}

.cl-select-wrap{
  width: 100%;
}

.societa.cl-select-wrap{
    position: absolute;
    width: 40%;
    top: 0px;
    right: 15px;
    height: 100%;
}

.societa.cl-select-wrap::before{
  color: #fff;
  right: 0px;
  z-index: 4;
}

.societa .cl-select{
  position: relative;
  height: 100%;
  border: none;
  padding: 11px;
  color: #fff;
  background-color: $sub-title;
  z-index: 3;
  @include border-top-right-radius(5px);
  @include border-bottom-right-radius(5px);
}

#tipologia-cliente{
  text-align: center;
}

.cl-select{
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
}

.cl-select-wrap::before{
  color: #9098BB;
}

.clchangebtn{
  color: #7088af;
  text-decoration: underline;
}

.clchangebtn:hover{
  color: darken(#7088af, 10%);
}

.clchangebtn i{
  margin-right: 10px;
}

.clchangebtn_chcliente{
  color: #fff;
  background-color: $sub-title;
  margin-top: 20px;
}

.clchangebtn_chcliente:hover{
  color: darken(#fff, 10%);
}

.clautocompselect{
  display: block;
  width: 100%;
  height: 43px;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  margin-bottom: 20px;
  color: #fff;
  background-color: $sub-title;
  @include border-radius(3px);
}

.clautocompselect__item{
  float: left;
}

.clautocompselect__button{
  float: right;
  height: 43px;
  padding: 10px 18px;
  margin: -10px -18px 0 0;
  color: #FFD940;
  text-decoration: underline;
  @include border-radius(3px);
}

.clautocompselect__button:hover{
  color: darken(#FFD940, 10%);
}