@import "compass";
@import "variables";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
  @include border-radius(5px);
}

#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: $sidebar-width;
  left: 0;
  background-color: #2B3138;
  color: #fff;
  height: 100%;
  z-index: 20;
}

#main-dashboard {
  position: relative;
  margin-left: $sidebar-width;
}

#mainmenu {
  margin-top: 50px;
}

.menu-spedizioni:first-child {
  margin-top: 0px;
}

.menu-spedizioni {
  margin-top: 40px;
}

.menu-spedizioni a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: darken(#ffffff, 40%);
}

.menu-spedizioni a:hover {
  text-decoration: none;
  color: #fff;
}

.menu-spedizioni.active a {
  margin-left: -4px;
  color: #fff;
}

.menu-spedizioni i {
  display: block;
  font-size: 2.5em;
  margin-bottom: 5px;
}

#toolbar {
  position: relative;
  background-color: $cl-subblue;
  padding: 40px 10px;
  color: #fff;
  border-bottom: 1px solid #E4ECF2;
}

.toolbar__title{
  margin: 0px;
}

#logout{
  position: absolute;
  width: 100%;
  bottom: 50px;
}

#upload-form {
  position: relative;
  display: none;
  width: 100%;
  height: 125px;
  //	background-color: @tr-blu;
  top: 0px;
  z-index: 10;
  margin: 0 0 30px 0;
}

#close-form {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  font-size: 1.4em;
  color: #fff;
  top: 3px;
  right: 23px;
}

.cl-addbtn{
  background-color: #205B95;
  color: #ffffff;
  outline: none;
  @include border-radius(5px);
  &:hover {
    background-color: lighten(#205B95, 5%);
  }
  &:active {
    background-color: lighten(#205B95, 5%);
  }
  &:focus {
    background-color: lighten(#205B95, 5%);
  }
}

.cl-tblbtn{
  float: right;
  margin-right: 7px;
  color: #f17a17;
  border: 2px solid #f17a17;
  text-decoration: none;
  @include border-radius(3px);
  &:hover {
    color: #f17a17;
    background-color: lighten(#f17a17, 40%);
  }
}

.cltable__cell{
  cursor: pointer;
  vertical-align: middle !important;
  @at-root{
    &_ragsoc{
      @extend .cltable__cell;
      width: 60%;
    }
  }
}

#userbar {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #436bbe;
}

#messagebar {
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  display: none;
  color: #fff;
  padding: 20px 0 10px;
  z-index: 11;
  margin-left: 55px;
}

#messagebar.errormsg {
  background-color: #e74c3c;
}

#messagebar.succmsg {
  background-color: #2ecc71;
}

#loadingbar {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(67, 107, 190, 0.9);
  z-index: 11;
  text-align: center;
  left: 0px;
  line-height: 121px;
  //	.border-radius(10px);
}

#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}

#btm-toolbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

#empty-filter {
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
  color: #7088af;
  font-size: 2em;
}

#btn-reset {
  width: 40px;
  line-height: 41px;
  text-align: center;
}

#date-filter #btn-reset {
  display: none;
  position: absolute;
  right: -36px;
  top: 0px;
  font-size: 1.2em;
  //	background-color: @tr-giallo;
  //	color: @tr-giallo-fontcolor;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#date-filter #btn-reset:hover {
  //	background-color: lighten(@tr-giallo, 5%);
}

.cltable__row {
  color: #7088af;
  height: 59px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-clienti {
  text-align: left;
}

.clmsg {
  font-weight: 100;
}

.clmsg.clmsg-nomodelli {
  font-size: 1.2em;
  padding-top: 30px;
}

.clmsg.clmsg-empty {
  padding-top: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #A6D5FF;
}

.cl-select-wrap {
  position: relative;
  display: inline-block;
}

.cl-select-wrap::before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 1px;
  padding-top: 12px;
  line-height: 1;
  right: 5px;
  width: 2.5em;
  text-align: center;
  font-size: 1em;
  @include scale(0.84, 0.42);
}

.cl-select {
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  @include appearance(none);
}