@import "compass";
@import "variables";

$trattativa-main-background: #EFF3F8;

#header-trattativa{
  padding: 0;
}

#nometrattativa{
  line-height: 70px;
  font-size: 1.2em;
  padding-left: 40px;
  color: #fff;
  background-color: $cl-subblue;
}

.clmenu-trattativa{
  background-color: #fff;
  color: #AFBBC9;
  border-bottom: 1px solid #E1E5E8;
  margin: 0;
}

.clmenu-trattativa .menu-item{
  line-height: 54px;
  margin-left: 40px;
}

.clmenu-trattativa .menu-item:hover{
  color: #2B3138;
  cursor: pointer;
}

.clmenu-trattativa .menu-item.active{
  color: #3B93DE;
  border-bottom: 4px solid #3B93DE;
}

#trattativa-wrapper{
  padding: 0 40px 40px;
}

#trattativa-title{
  color: $cl-subblue;
  font-weight: 400;
  margin-top: 50px;
}

#trattativa-subtitle{
  color: #7F94AA;
}

#trattativa-main{
  background-color: $trattativa-main-background;
}

.infotrattativa{
  background-color: #fff;
  margin-top: 50px;
  color: #718399;
  border: 1px solid #C7D3E3;
  @include border-radius(5px);
  @at-root{
    &__main{
      padding: 15px;
    }
    &__dato{
      font-size: 1.2em;
      word-wrap: break-word;
    }
    &__subtitle{

    }
  }
}

.infotitle{
  background-color: $trattativa-main-background;
  padding: 15px;
  border-bottom: 1px solid #C7D3E3;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  @at-root {
    &__main {
      font-weight: 400;
    }
  }
}