$blu: #001A54;
$sidebar-width: 200px;
$sub-title: #0F71B8;
$wizbar-width: 220px;
$cl-green: #70D082;
$cl-subblue: #4A90E2;
$cl-red: #e74c3c;

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background:transparent;
  zoom: 1;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

