body {
  background-color: #3159ad;
}
.btn-login {
  background-color: #ffd940;
  border: none;
  color: #51430a;
}
.btn-login:hover,
.btn-login:focus {
  background-color: #ffcf0d;
}
.container {
  color: #fff;
}
@media (min-width: 992px) {
  
}
