/* line 4, ../sass/components.scss */
.cl-btn {
  position: relative;
  line-height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../sass/components.scss */
.cl-btn .sel-badge {
  display: none;
  position: absolute;
  width: 43px;
  height: 100%;
  top: 0px;
  right: 0px;
  line-height: 60px;
  background-color: #70D082;
}

/* line 21, ../sass/components.scss */
.cl-btn.cl-btn-active .sel-badge {
  display: block;
  color: #fff;
}

/* line 26, ../sass/components.scss */
.cl-btn.cl-btn-active {
  border: 3px solid #70D082;
}

/* line 30, ../sass/components.scss */
.cl-btn.cl-btn-active:hover {
  border: 3px solid #70D082;
}

/* line 34, ../sass/components.scss */
.cl-menu {
  margin-bottom: 0px;
}

/* line 5, ../sass/addcliente.scss */
#codfiscText {
  text-transform: uppercase;
}
