/* line 9, ../sass/addmodelli.scss */
#addmodelli-title {
  padding: 20px;
  font-weight: 700;
  color: #fff;
}

/* line 15, ../sass/addmodelli.scss */
#addmodelli-title .title {
  margin: 0px;
  font-weight: 700;
}

/* line 20, ../sass/addmodelli.scss */
#modelli-trattativa {
  background-color: #4A90E2;
}

/* line 24, ../sass/addmodelli.scss */
.modello {
  padding: 0px;
  font-weight: 300;
  margin-right: 17px;
}

/* line 30, ../sass/addmodelli.scss */
.modello:last-child {
  margin-right: 0px;
}

/* line 34, ../sass/addmodelli.scss */
#modelli-trattativa .modello {
  height: 150px;
  margin-top: 20px;
  padding: 0 15px;
  margin-right: 0px;
  margin-top: 0px;
}

/* line 42, ../sass/addmodelli.scss */
#modelli-trattativa .modello:first-child {
  margin-top: 0px;
}

/* line 46, ../sass/addmodelli.scss */
#lista-modelli .inst-title {
  color: #9DCDFD;
  text-align: center;
}

/* line 51, ../sass/addmodelli.scss */
.modello-info {
  border: 1px solid #E3E5EC;
  background-color: #fff;
  position: relative;
  padding: 30px 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 59, ../sass/addmodelli.scss */
#modelli-trattativa .modello-info {
  height: 100%;
  padding: 15px 20px;
}

/* line 64, ../sass/addmodelli.scss */
#modelli-trattativa .prezzo-watt {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

/* line 70, ../sass/addmodelli.scss */
#wizard-modelli .modello-info {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 77, ../sass/addmodelli.scss */
#installazioni-sostitutive {
  margin-top: 50px;
  padding-bottom: 120px;
}

/* line 82, ../sass/addmodelli.scss */
.modello .codice {
  font-size: 2.5em;
  color: #2B3138;
}

/* line 87, ../sass/addmodelli.scss */
.modello .tipo {
  color: #6E8793;
  font-size: 1.2em;
  margin-bottom: 11px;
}

/* line 93, ../sass/addmodelli.scss */
.modello .nome {
  color: #435361;
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* line 99, ../sass/addmodelli.scss */
.modello .prezzo-watt {
  text-align: right;
}

/* line 103, ../sass/addmodelli.scss */
.prezzo-watt p {
  margin-bottom: 0px;
  color: #2B3138;
}

/* line 108, ../sass/addmodelli.scss */
.modello .prezzo {
  color: #4A90E2;
  font-size: 3em;
}

/* line 113, ../sass/addmodelli.scss */
.modello .watt {
  font-weight: 900;
}

/* line 117, ../sass/addmodelli.scss */
.exmodello-info {
  height: 100%;
  padding: 25px 0 0 40px;
  color: #fff;
  background-color: #4284D0;
  font-weight: 400;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 127, ../sass/addmodelli.scss */
.exmodello-info .nome {
  color: #fff;
  font-size: 1.2em;
}

/* line 132, ../sass/addmodelli.scss */
.exmodello-info .qta {
  color: #9DCDFD;
  margin-top: 35px;
}

/* line 137, ../sass/addmodelli.scss */
.arr-sub {
  position: absolute;
  line-height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: #fff;
  border-radius: 40px;
  width: 40px;
  color: #4284D0;
  text-align: center;
  left: -20px;
}

/* line 150, ../sass/addmodelli.scss */
.btn-addmodello {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -20px;
  background-color: #205B95;
  color: #fff;
  font-weight: 300;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 161, ../sass/addmodelli.scss */
.btn-addmodello:hover, .btn-addmodello:focus {
  background-color: #17416b;
}

/* line 165, ../sass/addmodelli.scss */
.btn-selezmodello {
  color: #418249;
  text-align: center;
  background-color: #EDFFC0;
  padding: 10px;
  border: 1px solid #DBE8B8;
  border-top: none;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 176, ../sass/addmodelli.scss */
.btn-selezmodello:hover {
  cursor: pointer;
  background-color: #deff8d;
}

/* line 181, ../sass/addmodelli.scss */
#modello-selezionato {
  margin: 20px 0;
}

/* line 185, ../sass/addmodelli.scss */
#modello-selezionato .modello-info > div {
  margin-bottom: 10px;
}

/* line 189, ../sass/addmodelli.scss */
#modello-selezionato .modello-info {
  background: none;
  padding: 0px;
  border: none;
}

/* line 195, ../sass/addmodelli.scss */
#modello-selezionato .modello-info .watt {
  font-size: 1.8em;
}

/* line 199, ../sass/addmodelli.scss */
#modello-selezionato .modello-info .wattreali {
  font-weight: 200;
  color: #72A6E3;
  margin-left: 10px;
}

/* line 205, ../sass/addmodelli.scss */
#modello-selezionato .modello-info .nome {
  font-size: 2.5em;
  font-weight: 700;
}

/* line 210, ../sass/addmodelli.scss */
#modello-selezionato .modello-info .codice {
  font-size: 2em;
  font-weight: 400;
}

/* line 215, ../sass/addmodelli.scss */
#modello-selezionato .modello-info .prezzo {
  font-size: 3em;
  font-weight: 900;
}

/* line 220, ../sass/addmodelli.scss */
.btncambiotipo {
  display: inline-block;
}

/* line 224, ../sass/addmodelli.scss */
.btncambiotipo.tipomodello {
  float: right;
}

/* line 228, ../sass/addmodelli.scss */
.btncambiotipo .tipo {
  display: inline-block;
  padding: 10px;
  background-color: #3F87DB;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 236, ../sass/addmodelli.scss */
.btncambiotipo .btn-cambio {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-left: 0px;
  color: #6F490B;
  background-color: #FFD940;
  cursor: pointer;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 248, ../sass/addmodelli.scss */
.btncambiotipo .btn-cambio:hover {
  background-color: #ffcf0d;
}

/* line 252, ../sass/addmodelli.scss */
#lista-modelli .rigamodelli {
  margin: 17px -15px 0 -15px;
}

/* line 256, ../sass/addmodelli.scss */
#lista-modelli .rigamodelli:first-child {
  margin-top: 0px;
}

/* line 260, ../sass/addmodelli.scss */
#filters {
  margin-top: 30px;
}

/* line 264, ../sass/addmodelli.scss */
.select {
  position: relative;
  display: inline-block;
}

/* line 269, ../sass/addmodelli.scss */
.select::before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #6F490B;
  top: 0;
  bottom: 1px;
  padding-top: 0.7em;
  line-height: 1;
  right: 15px;
  width: 2.5em;
  text-align: center;
  font-size: 1em;
  -moz-transform: scale(0.84, 0.42);
  -ms-transform: scale(0.84, 0.42);
  -webkit-transform: scale(0.84, 0.42);
  transform: scale(0.84, 0.42);
}

/* line 285, ../sass/addmodelli.scss */
#select-watt {
  width: 100%;
  padding: 10px;
  color: #6F490B;
  background-color: #FFD940;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 295, ../sass/addmodelli.scss */
#select-watt:hover {
  background-color: #ffcf0d;
}

/* line 299, ../sass/addmodelli.scss */
#select-watt::ms-expand {
  display: none;
}
