/* line 4, ../sass/components.scss */
.cl-btn, .addtrattativa-opt-btn {
  position: relative;
  line-height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../sass/components.scss */
.cl-btn .sel-badge, .addtrattativa-opt-btn .sel-badge {
  display: none;
  position: absolute;
  width: 43px;
  height: 100%;
  top: 0px;
  right: 0px;
  line-height: 60px;
  background-color: #70D082;
}

/* line 21, ../sass/components.scss */
.cl-btn.cl-btn-active .sel-badge, .cl-btn-active.addtrattativa-opt-btn .sel-badge {
  display: block;
  color: #fff;
}

/* line 26, ../sass/components.scss */
.cl-btn.cl-btn-active, .cl-btn-active.addtrattativa-opt-btn {
  border: 3px solid #70D082;
}

/* line 30, ../sass/components.scss */
.cl-btn.cl-btn-active:hover, .cl-btn-active.addtrattativa-opt-btn:hover {
  border: 3px solid #70D082;
}

/* line 34, ../sass/components.scss */
.cl-menu {
  margin-bottom: 0px;
}

/* line 5, ../sass/addtrattativa.scss */
#wizbar {
  position: fixed;
  width: 220px;
  height: 100%;
  padding: 10px;
  background-color: #4A90E2;
  border-right: 1px solid #E8EBEC;
}

/* line 14, ../sass/addtrattativa.scss */
#wiz-wrapper {
  margin-left: 220px;
}

/* line 18, ../sass/addtrattativa.scss */
.clform__label {
  font-weight: 400;
  font-size: 1.1em;
  color: #0F71B8;
}

/* line 24, ../sass/addtrattativa.scss */
.clform__input {
  border-color: 2px solid #D7D9E1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 29, ../sass/addtrattativa.scss */
.clform__input.ng-touched.ng-invalid {
  position: relative;
  background-color: #f8c9c4;
  border-color: #e74c3c;
  z-index: 2;
  box-shadow: none;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 39, ../sass/addtrattativa.scss */
.clform__input.ng-pristine.ng-invalid {
  background-color: #ffffff;
  border-color: #cccccc;
}

/* line 44, ../sass/addtrattativa.scss */
.clform__errorlabel {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background-color: #e74c3c;
  z-index: 1;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 55, ../sass/addtrattativa.scss */
.placeholder {
  font-size: .9em;
  color: #8C9497;
}

/* line 60, ../sass/addtrattativa.scss */
.form-sec-title .placeholder {
  font-size: .7em;
}

/* line 64, ../sass/addtrattativa.scss */
.form-sec:first-child {
  margin-top: 40px;
}

/* line 68, ../sass/addtrattativa.scss */
.form-sec {
  position: relative;
  margin: 80px 0;
}

/* line 73, ../sass/addtrattativa.scss */
.form-sec-title {
  color: #6E7691;
}

/* line 77, ../sass/addtrattativa.scss */
.form-sec-title {
  text-align: center;
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: 20px;
}

/* line 84, ../sass/addtrattativa.scss */
header {
  padding: 10px 10px;
  border-bottom: 1px solid #E8EBEC;
}

/* line 88, ../sass/addtrattativa.scss */
header.fixed {
  position: fixed;
  background-color: #fff;
  z-index: 20;
  width: 100%;
}

/* line 95, ../sass/addtrattativa.scss */
#tratt-desc {
  font-size: 1.3em;
  color: #6E7691;
}

/* line 100, ../sass/addtrattativa.scss */
#tratt-desc span {
  color: #c5c8d3;
}

/* line 104, ../sass/addtrattativa.scss */
header .sec-title {
  color: #0F71B8;
  margin-bottom: 10px;
}

/* line 109, ../sass/addtrattativa.scss */
.addtrattativa-opt-btn {
  width: 250px;
  text-transform: capitalize;
  margin: 10px 0 0 10px;
  color: #9098BB;
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
}

/* line 119, ../sass/addtrattativa.scss */
.addtrattativa-opt-btn:hover {
  border-color: #9595c0;
  color: #7676ad;
}

/* line 124, ../sass/addtrattativa.scss */
.addtrattativa-opt-btnfirst-child {
  margin-left: 0px;
}

/* line 128, ../sass/addtrattativa.scss */
#addtrattativa .counter-field {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 131, ../sass/addtrattativa.scss */
.counter-container .input-group-addon {
  color: #9098BB;
  font-weight: 700;
  cursor: pointer;
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 140, ../sass/addtrattativa.scss */
.counter-container .input-group-addon:hover {
  background-color: #e5e5ef;
}

/* line 144, ../sass/addtrattativa.scss */
.counter-container .counter-minus {
  border-right: none;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 150, ../sass/addtrattativa.scss */
.counter-container .counter-plus {
  border-left: none;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 156, ../sass/addtrattativa.scss */
#txtnote {
  resize: vertical;
}

/* line 160, ../sass/addtrattativa.scss */
.click_autocomplete {
  position: relative;
}

/* line 164, ../sass/addtrattativa.scss */
.angucomplete-holder {
  position: relative;
}

/* line 168, ../sass/addtrattativa.scss */
.angucomplete-dropdown {
  position: absolute;
  top: 45px;
  padding: 10px;
  width: 100%;
  color: #fff;
  overflow-y: auto;
  max-height: 200px;
  background-color: #0F71B8;
  z-index: 10;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 181, ../sass/addtrattativa.scss */
.angucomplete-row:first-child {
  margin-top: -10px;
}

/* line 185, ../sass/addtrattativa.scss */
.angucomplete-row {
  margin: 0 -10px;
  padding: 10px;
}

/* line 190, ../sass/addtrattativa.scss */
.angucomplete-selected-row {
  cursor: pointer;
  background-color: #117fd0;
}

/* line 195, ../sass/addtrattativa.scss */
.angucomplete-description {
  color: #A6D5FF;
}

/* line 199, ../sass/addtrattativa.scss */
#text-ragsoc {
  padding-right: 40%;
}

/* line 203, ../sass/addtrattativa.scss */
#msg-notvalidcliente {
  background-color: #E14C4C;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 213, ../sass/addtrattativa.scss */
#msg-notvalidcliente #close-msg {
  color: #fff;
  font-size: 1em;
  margin: 5px 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}

/* line 221, ../sass/addtrattativa.scss */
.cl-select-wrap {
  width: 100%;
}

/* line 225, ../sass/addtrattativa.scss */
.societa.cl-select-wrap {
  position: absolute;
  width: 40%;
  top: 0px;
  right: 15px;
  height: 100%;
}

/* line 233, ../sass/addtrattativa.scss */
.societa.cl-select-wrap::before {
  color: #fff;
  right: 0px;
  z-index: 4;
}

/* line 239, ../sass/addtrattativa.scss */
.societa .cl-select {
  position: relative;
  height: 100%;
  border: none;
  padding: 11px;
  color: #fff;
  background-color: #0F71B8;
  z-index: 3;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 251, ../sass/addtrattativa.scss */
#tipologia-cliente {
  text-align: center;
}

/* line 255, ../sass/addtrattativa.scss */
.cl-select {
  background-color: #F5F5F9;
  border: 1px solid #D7D8E1;
}

/* line 260, ../sass/addtrattativa.scss */
.cl-select-wrap::before {
  color: #9098BB;
}

/* line 264, ../sass/addtrattativa.scss */
.clchangebtn {
  color: #7088af;
  text-decoration: underline;
}

/* line 269, ../sass/addtrattativa.scss */
.clchangebtn:hover {
  color: #556e97;
}

/* line 273, ../sass/addtrattativa.scss */
.clchangebtn i {
  margin-right: 10px;
}

/* line 277, ../sass/addtrattativa.scss */
.clchangebtn_chcliente {
  color: #fff;
  background-color: #0F71B8;
  margin-top: 20px;
}

/* line 283, ../sass/addtrattativa.scss */
.clchangebtn_chcliente:hover {
  color: #e6e6e6;
}

/* line 287, ../sass/addtrattativa.scss */
.clautocompselect {
  display: block;
  width: 100%;
  height: 43px;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  margin-bottom: 20px;
  color: #fff;
  background-color: #0F71B8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 300, ../sass/addtrattativa.scss */
.clautocompselect__item {
  float: left;
}

/* line 304, ../sass/addtrattativa.scss */
.clautocompselect__button {
  float: right;
  height: 43px;
  padding: 10px 18px;
  margin: -10px -18px 0 0;
  color: #FFD940;
  text-decoration: underline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 314, ../sass/addtrattativa.scss */
.clautocompselect__button:hover {
  color: #ffcf0d;
}
