/* line 4, ../sass/main.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 10, ../sass/main.scss */
.btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 14, ../sass/main.scss */
#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 200px;
  left: 0;
  background-color: #2B3138;
  color: #fff;
  height: 100%;
  z-index: 20;
}

/* line 26, ../sass/main.scss */
#main-dashboard {
  position: relative;
  margin-left: 200px;
}

/* line 31, ../sass/main.scss */
#mainmenu {
  margin-top: 50px;
}

/* line 35, ../sass/main.scss */
.menu-spedizioni:first-child {
  margin-top: 0px;
}

/* line 39, ../sass/main.scss */
.menu-spedizioni {
  margin-top: 40px;
}

/* line 43, ../sass/main.scss */
.menu-spedizioni a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999999;
}

/* line 50, ../sass/main.scss */
.menu-spedizioni a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 55, ../sass/main.scss */
.menu-spedizioni.active a {
  margin-left: -4px;
  color: #fff;
}

/* line 60, ../sass/main.scss */
.menu-spedizioni i {
  display: block;
  font-size: 2.5em;
  margin-bottom: 5px;
}

/* line 66, ../sass/main.scss */
#toolbar {
  position: relative;
  background-color: #4A90E2;
  padding: 40px 10px;
  color: #fff;
  border-bottom: 1px solid #E4ECF2;
}

/* line 74, ../sass/main.scss */
.toolbar__title {
  margin: 0px;
}

/* line 78, ../sass/main.scss */
#logout {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

/* line 84, ../sass/main.scss */
#upload-form {
  position: relative;
  display: none;
  width: 100%;
  height: 125px;
  top: 0px;
  z-index: 10;
  margin: 0 0 30px 0;
}

/* line 95, ../sass/main.scss */
#close-form {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  font-size: 1.4em;
  color: #fff;
  top: 3px;
  right: 23px;
}

/* line 105, ../sass/main.scss */
.cl-addbtn {
  background-color: #205B95;
  color: #ffffff;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 110, ../sass/main.scss */
.cl-addbtn:hover {
  background-color: #2568aa;
}
/* line 113, ../sass/main.scss */
.cl-addbtn:active {
  background-color: #2568aa;
}
/* line 116, ../sass/main.scss */
.cl-addbtn:focus {
  background-color: #2568aa;
}

/* line 121, ../sass/main.scss */
.cl-tblbtn {
  float: right;
  margin-right: 7px;
  color: #f17a17;
  border: 2px solid #f17a17;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 128, ../sass/main.scss */
.cl-tblbtn:hover {
  color: #f17a17;
  background-color: #fde8d7;
}

/* line 134, ../sass/main.scss */
.cltable__cell, .cltable__cell_ragsoc {
  cursor: pointer;
  vertical-align: middle !important;
}
/* line 138, ../sass/main.scss */
.cltable__cell_ragsoc {
  width: 60%;
}

/* line 145, ../sass/main.scss */
#userbar {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #436bbe;
}

/* line 152, ../sass/main.scss */
#messagebar {
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  display: none;
  color: #fff;
  padding: 20px 0 10px;
  z-index: 11;
  margin-left: 55px;
}

/* line 164, ../sass/main.scss */
#messagebar.errormsg {
  background-color: #e74c3c;
}

/* line 168, ../sass/main.scss */
#messagebar.succmsg {
  background-color: #2ecc71;
}

/* line 172, ../sass/main.scss */
#loadingbar {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(67, 107, 190, 0.9);
  z-index: 11;
  text-align: center;
  left: 0px;
  line-height: 121px;
}

/* line 184, ../sass/main.scss */
#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}

/* line 191, ../sass/main.scss */
#btm-toolbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

/* line 198, ../sass/main.scss */
#empty-filter {
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
  color: #7088af;
  font-size: 2em;
}

/* line 206, ../sass/main.scss */
#btn-reset {
  width: 40px;
  line-height: 41px;
  text-align: center;
}

/* line 212, ../sass/main.scss */
#date-filter #btn-reset {
  display: none;
  position: absolute;
  right: -36px;
  top: 0px;
  font-size: 1.2em;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 232, ../sass/main.scss */
.cltable__row {
  color: #7088af;
  height: 59px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 243, ../sass/main.scss */
.table-clienti {
  text-align: left;
}

/* line 247, ../sass/main.scss */
.clmsg {
  font-weight: 100;
}

/* line 251, ../sass/main.scss */
.clmsg.clmsg-nomodelli {
  font-size: 1.2em;
  padding-top: 30px;
}

/* line 256, ../sass/main.scss */
.clmsg.clmsg-empty {
  padding-top: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #A6D5FF;
}

/* line 264, ../sass/main.scss */
.cl-select-wrap {
  position: relative;
  display: inline-block;
}

/* line 269, ../sass/main.scss */
.cl-select-wrap::before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 1px;
  padding-top: 12px;
  line-height: 1;
  right: 5px;
  width: 2.5em;
  text-align: center;
  font-size: 1em;
  -moz-transform: scale(0.84, 0.42);
  -ms-transform: scale(0.84, 0.42);
  -webkit-transform: scale(0.84, 0.42);
  transform: scale(0.84, 0.42);
}

/* line 284, ../sass/main.scss */
.cl-select {
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
