#riepcliente {
  position: absolute;
  background-color: #3159ad;
  width: 100%;
  margin-top: -40px;
}
#cliente {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -300px;
  text-align: center;
  color: #fff;
  font-size: 2em;
}
#cliente i {
  display: block;
  color: #2ecc71;
  font-size: 2em;
}
.user-info .label {
  color: #709aef;
}
#main-info {
  margin-top: 30px;
}