/* line 6, ../sass/trattativa.scss */
#header-trattativa {
  padding: 0;
}

/* line 10, ../sass/trattativa.scss */
#nometrattativa {
  line-height: 70px;
  font-size: 1.2em;
  padding-left: 40px;
  color: #fff;
  background-color: #4A90E2;
}

/* line 18, ../sass/trattativa.scss */
.clmenu-trattativa {
  background-color: #fff;
  color: #AFBBC9;
  border-bottom: 1px solid #E1E5E8;
  margin: 0;
}

/* line 25, ../sass/trattativa.scss */
.clmenu-trattativa .menu-item {
  line-height: 54px;
  margin-left: 40px;
}

/* line 30, ../sass/trattativa.scss */
.clmenu-trattativa .menu-item:hover {
  color: #2B3138;
  cursor: pointer;
}

/* line 35, ../sass/trattativa.scss */
.clmenu-trattativa .menu-item.active {
  color: #3B93DE;
  border-bottom: 4px solid #3B93DE;
}

/* line 40, ../sass/trattativa.scss */
#trattativa-wrapper {
  padding: 0 40px 40px;
}

/* line 44, ../sass/trattativa.scss */
#trattativa-title {
  color: #4A90E2;
  font-weight: 400;
  margin-top: 50px;
}

/* line 50, ../sass/trattativa.scss */
#trattativa-subtitle {
  color: #7F94AA;
}

/* line 54, ../sass/trattativa.scss */
#trattativa-main {
  background-color: #EFF3F8;
}

/* line 58, ../sass/trattativa.scss */
.infotrattativa {
  background-color: #fff;
  margin-top: 50px;
  color: #718399;
  border: 1px solid #C7D3E3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 65, ../sass/trattativa.scss */
.infotrattativa__main {
  padding: 15px;
}

/* line 68, ../sass/trattativa.scss */
.infotrattativa__dato {
  font-size: 1.2em;
  word-wrap: break-word;
}

/* line 78, ../sass/trattativa.scss */
.infotitle {
  background-color: #EFF3F8;
  padding: 15px;
  border-bottom: 1px solid #C7D3E3;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 85, ../sass/trattativa.scss */
.infotitle__main {
  font-weight: 400;
}
