/* line 4, ../sass/components.scss */
.cl-btn, .btn-exmod {
  position: relative;
  line-height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../sass/components.scss */
.cl-btn .sel-badge, .btn-exmod .sel-badge {
  display: none;
  position: absolute;
  width: 43px;
  height: 100%;
  top: 0px;
  right: 0px;
  line-height: 60px;
  background-color: #70D082;
}

/* line 21, ../sass/components.scss */
.cl-btn.cl-btn-active .sel-badge, .cl-btn-active.btn-exmod .sel-badge {
  display: block;
  color: #fff;
}

/* line 26, ../sass/components.scss */
.cl-btn.cl-btn-active, .cl-btn-active.btn-exmod {
  border: 3px solid #70D082;
}

/* line 30, ../sass/components.scss */
.cl-btn.cl-btn-active:hover, .cl-btn-active.btn-exmod:hover {
  border: 3px solid #70D082;
}

/* line 34, ../sass/components.scss */
.cl-menu {
  margin-bottom: 0px;
}

/* line 5, ../sass/wizard.scss */
#wizard-modelli {
  color: #ffffff;
  z-index: 1;
}

/* line 10, ../sass/wizard.scss */
#main-wizard {
  position: relative;
  background-color: #0F71B8;
}

/* line 15, ../sass/wizard.scss */
#wizard-buttons {
  position: absolute;
  height: 100%;
  background-color: #0C3049;
}

/* line 21, ../sass/wizard.scss */
#wizard-buttons-title {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 31px 0 10px 0;
}

/* line 27, ../sass/wizard.scss */
#wizard-buttons-desc {
  color: #596571;
  margin: 15px 0 40px;
}

/* line 32, ../sass/wizard.scss */
#wizard-content {
  margin-left: 25%;
}

/* line 36, ../sass/wizard.scss */
#wizard-content .wizard-title {
  text-align: center;
}

/* line 40, ../sass/wizard.scss */
#wizard-content .wizard-title-desc {
  line-height: 1.4;
  color: #A6D5FF;
  text-align: center;
}

/* line 46, ../sass/wizard.scss */
#wizard-addmodel {
  color: #fff;
  background-color: #70D082;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 52, ../sass/wizard.scss */
.wizard-button {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  color: #596571;
}

/* line 59, ../sass/wizard.scss */
.wizard-button:hover, .wizard-button:focus {
  color: #596571;
  text-decoration: none;
}

/* line 64, ../sass/wizard.scss */
.wizard-button .step-number {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #596571;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/* line 74, ../sass/wizard.scss */
.wizard-button.active .step-number {
  background-color: #fff;
  border: 2px solid #fff;
  color: #0B1F51;
}

/* line 80, ../sass/wizard.scss */
.step-complete {
  display: none;
}

/* line 84, ../sass/wizard.scss */
.step-complete .fa-check {
  width: 30px;
  text-align: center;
  background-color: #70D082;
  line-height: 30px;
  color: #0C3049;
  border-radius: 30px;
  margin-right: 10px;
}

/* line 94, ../sass/wizard.scss */
.wizard-button.active .step-title {
  color: #fff;
}

/* line 98, ../sass/wizard.scss */
.wizard-button.active:hover {
  color: #fff;
}

/* line 103, ../sass/wizard.scss */
.wizard-button .step-desc {
  display: block;
  margin-top: 5px;
  color: #093466;
}

/* line 109, ../sass/wizard.scss */
#selezione-esistenti {
  text-align: center;
  margin: 15px 0;
  padding: 0 100px;
}

/* line 115, ../sass/wizard.scss */
.btn-exmod {
  min-width: 250px;
  background-color: #4A90E2;
  border: 3px solid #4A90E2;
  color: #fff;
  margin: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 125, ../sass/wizard.scss */
.btn-exmod.active .sel-badge {
  display: block;
  color: #fff;
}

/* line 130, ../sass/wizard.scss */
.btn-exmod.active {
  border: 3px solid #70D082;
  box-shadow: none;
}

/* line 135, ../sass/wizard.scss */
.btn-exmod.active:hover {
  border: 3px solid #70D082;
}

/* line 139, ../sass/wizard.scss */
#wizard-controls {
  text-align: center;
  margin: 50px 0;
}

/* line 144, ../sass/wizard.scss */
#wizard-controls.clickstep-controls {
  margin: 20px 0;
}

/* line 148, ../sass/wizard.scss */
#wizard-prev {
  border: 2px solid #11619A;
  color: #003257;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 154, ../sass/wizard.scss */
#wizard-next {
  color: #fff;
  background-color: #FF913D;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 160, ../sass/wizard.scss */
#wizard-next:hover {
  background-color: #ff8324;
}

/* line 164, ../sass/wizard.scss */
#risp-esistente {
  margin-top: 30px;
  padding: 0 100px;
}

/* line 169, ../sass/wizard.scss */
.btn-exrisp {
  text-align: center;
  padding: 50px;
  border: 2px solid #1E86D2;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 177, ../sass/wizard.scss */
.btn-exrisp.active {
  background-color: #1E86D2;
}

/* line 181, ../sass/wizard.scss */
.btn-exrisp.active span {
  color: #fff;
}

/* line 185, ../sass/wizard.scss */
.btn-exrisp:hover {
  background-color: #1E86D2;
}

/* line 189, ../sass/wizard.scss */
.btn-exrisp .risp {
  font-size: 2em;
}

/* line 193, ../sass/wizard.scss */
.btn-exrisp span {
  color: #69A3E7;
}

/* line 197, ../sass/wizard.scss */
.btn-exrisp:hover span {
  color: #fff;
}

/* line 201, ../sass/wizard.scss */
.counter-label {
  text-align: center;
  display: block;
  padding: 10px 18px;
}

/* line 207, ../sass/wizard.scss */
#wizard-modelli .wizard-counter .input-group-addon {
  border: none;
  font-size: 1.5em;
  padding: 0 18px;
  color: #A6D5FF;
  background-color: #117fd0;
}

/* line 215, ../sass/wizard.scss */
#wizard-modelli .wizard-counter .input-group-addon:hover {
  background-color: #138ee7;
}

/* line 219, ../sass/wizard.scss */
#wizard-modelli .wizard-counter .counter-field {
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 224, ../sass/wizard.scss */
#wizard-modelli .modello {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0px;
}

/* line 230, ../sass/wizard.scss */
#wizard-modelli .filter-label {
  text-align: left;
  padding-left: 0px;
}

/* line 235, ../sass/wizard.scss */
.mod-info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 241, ../sass/wizard.scss */
.mod-info.nome-mod {
  text-align: center;
}

/* line 245, ../sass/wizard.scss */
.mod-info-type {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 0px;
}

/* line 251, ../sass/wizard.scss */
.mod-main-info {
  font-weight: 700;
  font-size: 1.5em;
}

/* line 256, ../sass/wizard.scss */
#lista-plafoniere {
  text-align: center;
  margin-top: 50px;
}

/* line 261, ../sass/wizard.scss */
#watt-qta {
  text-align: center;
}

/* line 265, ../sass/wizard.scss */
#watt-qta > div {
  display: inline-block;
  float: none;
}

/* line 270, ../sass/wizard.scss */
#lista-plafoniere.plafselected {
  display: none;
}
