@import "variables.less";
@import "mixins.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
   -khtml-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
   -khtml-box-shadow: @value;
     -moz-box-shadow: @value;
          box-shadow: @value;
}

#overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: -1;
}

#home-payoff{
	color: #fff;
	background: none;
	text-align: center;
}

.navbar-home{
	background: none !important;
	border: none !important;
}

#logo-xpress{
	margin-top: 50px;
	text-align: center;
	color: #fff;
	position: relative;
}

#logo-xpress a{
	position: absolute;
	display:inline-block;
	left: 50%;
	margin: -10px 0 0 -100px;
}

#logo-xpress h3{
	margin-to: 50px;
}

#logo-xpress a img{
	display:block;
}

@media (min-width: @screen-md) {
	body{
		background: url(../images/hmbck.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#home-payoff{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -254px;
		margin-top: -87.5px;
		font-size: 5em;
		padding: 0;
	}
}