@import "variables.less";
@import "mixins.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
   -khtml-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
   -khtml-box-shadow: @value;
     -moz-box-shadow: @value;
          box-shadow: @value;
}

body{
	background-color: #3159ad;
}

.btn-login{
	background-color: #ffd940;
	border: none;
	color: #51430a;
}

.btn-login:hover, .btn-login:focus{
	background-color: darken(#ffd940, 10%);
}

.container{
	color: #fff;
}

@media (min-width: @screen-md) {

}